
#mod_tquiz_playercontainer {
	text-align: center; 
	margin-top: 1em; 
	background: #F4C63f;
	width: 640px;
	height: 600px;
}
#mod_tquiz_resultscontainer {
	text-align: center; 
	margin-top: 1em; 
	background: #A4C63f;
	width: 640px;
	height: 420px;
}

.mod_tquiz_qdiv{display: none;}
.mod_tquiz_feedback{display: none; text-align: center;  margin-left: auto;margin-right: auto; width: 500px; padding-top: 5px}
.mod_tquiz_intro{text-align: center;  margin-left: auto;margin-right: auto; width: 500px; padding-top: 5px}
.mod_tquiz_bigbutton {font-size: 32px; height: 120px; width: 120px; text-align: center;}
.mod_tquiz_bigbutton_container {text-align: center; display inline-block; float: left; padding-right: 20px}
.mod_tquiz_bigbutton_container{height: 165px; margin-left: auto;margin-right: auto; width: 150px; padding-top: 5px}
.mod_tquiz_allanswers_container{ text-align: center; height: 400px; margin-left: auto;margin-right: auto; width: 340px; padding-top: 25px}
.mod_tquiz_questionbox{ text-align: center;  margin-left: auto;margin-right: auto; width: 500px; padding-top: 5px}
.soundmanagerplayer{ text-align: center; display: block; margin-left: auto;margin-right: auto; width: 220px; padding-top: 5px}
